@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background-color: #f0805b;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.MuiButtonBase-root {
  color: #666666 !important;
}

input {
  color: #fff !important;
  font-size: 25px !important;
}

label {
  font-size: 22px !important;
}

span {
  padding: 0px;
}

ul,
button {
  background-color: rgb(0, 188, 212) !important;
}

button {
  padding: 20px 40px !important;
}

h1 {
  letter-spacing: 2px;
  font-size: 50px;
  padding-bottom: 0px !important;
  display: inline-block;
}

.workoutContainer {
  margin-top: -20px !important;
}

img {
  display: inline-block;
  transform: rotate(-45deg);
}

@media only screen and (max-height: 700px) {
  span {
    padding: 0px;
  }

  h1 {
    font-size: 36px;
  }
}
