@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background-color: #ff6533;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

// .workoutContainer {
//   margin-top: -20px !important;
// }

img {
  display: inline-block;
  transform: rotate(-45deg);
}

li {
  color: black;
}

.iframeContainer {
  background: url(./assets/loader.gif) center center no-repeat;
}

@media only screen and (max-height: 700px) {
  span {
    padding: 0px;
  }

  h1 {
    font-size: 36px;
  }
}
